<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Richard Sandrok</title>
    {% endif %}
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a href="#" class="navbar-brand">Navbar</a>
                    <!-- TODO: Insert URL_FOR relative links -->
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}">Home &amp; Contact</a></li>
                        <li><a href="{{ url_for('summary') }}">Qualifications Summary</a></li>
                        <li><a href="{{ url_for('projects') }}">Development Projects</a></li>
                        <li><a href="{{ url_for('experience') }}">Work Experience</a></li>
                        <li><a href="{{ url_for('education') }}">Education</a></li>
                        <li><a href="{{ url_for('interests') }}">Interests &amp; Community</a></li>
                        <li><a href="{{ url_for('login') }}">Sign In</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <div class="content-block">
        {% block content %}

        {% endblock %}
        </div> 
        <footer class="footer">
            <div class="container">
                <p>&copy;2020 <a href="https://www.sandrok.com">Richard Sandrok</a></p>
            </div>
        </footer>

    </div> <!-- end of .container -->
    <!-- Scripts -->
    <!-- Bootstrap compiled/minified -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>