{% extends 'base.html' %}

{% block content %}
    <h2>Hallo</h2>

    <!-- original summary description was on this page; moved to /index for "summary and contact" -->
    <!-- {{ summary.description }} -->
    <!-- TODO: CSS uppercase the H3s -->
    <h3 id="skills">technical skills</h3>
    <table>
        <tr>
            <td>Programming Languages</td>
            <td></td>
        </tr>
        <tr>
            <td>Web Technologies/Frameworks</td>
            <td></td>
        </tr>
        <tr>
            <td>Databases</td>
            <td></td>
        </tr>
        <tr>
            <td>Tools/Methodologies</td>
            <td></td>
        </tr>
        <tr>
            <td>Source Control &amp; OS</td>
            <td></td>
        </tr>
    </table>
{% endblock %}